*
{
    box-sizing: border-box;
}

body::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ff0000, #ff00ff);
    clip-path: circle(30% at left 20%);
    z-index: -1;
}

body::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(30% at right 70%);
    z-index: -1;
}

.backc
{
    content: "";
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: linear-gradient(#ff0000, #ff00ff);
    border-radius: 50%;
    z-index: -1;
}

.backc2
{
    position: absolute;
}

.team
{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    flex-wrap: wrap;
}

.haider, .atul, .ankit, .sid
{
    width: 300px;
    height: 300px;
    background-color: #ffffff20;
    border-top: 2px solid #ffffff3f;
    border-left: 2px solid #ffffff3f;
    border-right: 2px solid #ffffff00;
    border-bottom: 2px solid #ffffff00;
    box-shadow: 20px 20px 50px #00000080;
    margin: 120px 20px 20px 20px;
    border-radius: 20px;
    transition: 0.4s;
    overflow: hidden;
    backdrop-filter: blur(5px);
}

.headshot
{
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}

.face
{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 0px 10px 30px #000000;
    transition: 0.4s;
    z-index: 40;
}

.name
{
    display: flex;
    justify-content: center;
    font-family: "Comfortaa";
    font-size: 30px;
    font-weight: 700;
    color: #e1e2e1;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    transform: translateY(40px);
    opacity: 0;
    transition: 0.4s;
}

.position
{
    display: flex;
    justify-content: center;
    font-family: "Comfortaa";
    padding: 0px;
    font-size: 20px;
    font-weight: 700;
    color: #e1e2e1;
    transform: translateY(40px);
    opacity: 0;
    transition: 0.4s;
}

.icon
{
    width: 40px;
    height: 40px;
    opacity: 0;
    transform: translateY(40px);
    transition: 0.4s;
    transition-delay: calc(0.1s * var(--i));
}

.icons
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bio
{
    display: flex;
    margin: 10px 0 0 0;
    justify-content: center;
}

.bio input, .toggle
{
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 30;
    transition: 0.4s;
}

.bio input
{
    opacity: 0;
}

.toggle
{
    display: flex;
    justify-content: center;
    background-color: #1ba098;
    color: #051622;
    font-size: 40px;
    border-radius: 50%;
    pointer-events: none;
    font-weight: 900;
    box-shadow: 0 0 0 0px #051622;
    transition: 0.5s;
}

.biodata
{
    position: absolute;
    top: 500px;
    margin: 15px;
    color: #1ba098;
    opacity: 0;
    text-align: justify;
    z-index: 40;
    transition: 0.5s;
}

.haider:hover, .atul:hover, .ankit:hover, .sid:hover
{
    height: 500px;
    margin: 20px;
}

.haider:hover .face, .haider:hover .name, .haider:hover .position, .haider:hover .icon, 
.atul:hover .face, .atul:hover .name, .atul:hover .position, .atul:hover .icon, 
.ankit:hover .face, .ankit:hover .name, .ankit:hover .position, .ankit:hover .icon, 
.sid:hover .face, .sid:hover .name, .sid:hover .position, .sid:hover .icon
{
    transform: translateY(0px);
    opacity: 1;
}

.haider:hover input:checked ~ .toggle, 
.atul:hover input:checked ~ .toggle, 
.ankit:hover input:checked ~ .toggle, 
.sid:hover input:checked ~ .toggle
{
    transform:  rotate(225deg);
    box-shadow: 0 0 0 240px #051622;
}

.haider:hover input:checked ~ .biodata, 
.atul:hover input:checked ~ .biodata, 
.ankit:hover input:checked ~ .biodata, 
.sid:hover input:checked ~ .biodata
{
    transform: translateY(-230px);
    opacity: 1;
}

@media screen and (max-width: 1359px)
{
    body::after
    {
        display: none;
    }
}

@media screen and (max-width: 1024px)
{
    .backc
    {
        position: absolute;
        top: 60%;
        left: 60%;
        transform: translate(-50%, -50%);
        width: 270px;
        height: 270px;
        background: linear-gradient(#ff0000, #ff00ff);
        border-radius: 50%;
        z-index: -1;
    }

    .backc2
    {
        position: absolute;
        top: 130%;
        left: 45%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
        background: linear-gradient(#ff0000, #ff00ff);
        border-radius: 50%;
        z-index: -1;
    }

    .haider, .atul, .ankit, .sid
    {
        height: 500px;
        margin: 20px;
    }

    .haider .face, .haider .name, .haider .position, .haider .icon, 
    .atul .face, .atul .name, .atul .position, .atul .icon, 
    .ankit .face, .ankit .name, .ankit .position, .ankit .icon, 
    .sid .face, .sid .name, .sid .position, .sid .icon
    {
        transition: none;
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 678px)
{

    .backc
    {
        position: absolute;
        top: 80%;
        left: 60%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 400px;
        background: linear-gradient(#ff0000, #ff00ff);
        border-radius: 50%;
        z-index: -1;
    }

    .backc2
    {
        position: absolute;
        top: 250%;
        left: 33%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
        background: linear-gradient(#ff0000, #ff00ff);
        border-radius: 50%;
        z-index: -1;
    }
}

@media screen and (max-width: 500px)
{

    .backc
    {
        position: absolute;
        top: 80%;
        left: 60%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
        background: linear-gradient(#ff0000, #ff00ff);
        border-radius: 50%;
        z-index: -1;
    }

    .backc2
    {
        position: absolute;
        top: 150%;
        left: 33%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 250px;
        background: linear-gradient(#ff0000, #ff00ff);
        border-radius: 50%;
        z-index: -1;
    }
}