.subject
{
    display: flex;
    justify-content: space-around;
    margin:0 0 50px 0;
    flex-wrap: wrap;
}

.maths, .comp, .eng
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 30px 50px 30px;
    width: 400px;
    height: 500px;
    border: 2px solid #051622;
    border-radius: 20px;
    box-shadow: 10px 10px 30px #000000;
    transition: 0.5s;
    
}

.maths:hover, .comp:hover, .eng:hover
{
    transform: scale(1.1);
    font-size: 40px;
    background-color: #deb992;
}

.subject div a
{
    font-family: "Comfortaa";
    color: #e1e2e1;
    font-size: 30px;
    font-weight: 700;
}

.subject div:hover a
{
    color: #000000;
    font-weight: 900;
}
