.subject
{
    display: flex;
    justify-content: space-around;
    margin-bottom:50px;
    flex-wrap: wrap;
}

.maths, .comp, .eng
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e1e2e1;
    font-size: 30px;
    font-weight: 700;
    font-family: "Comfortaa";
    margin-top: 50px;
    width: 400px;
    height: 500px;
    border: 2px solid #051622;
    border-radius: 20px;
    box-shadow: 10px 10px 30px #000000;
    transition: 0.5s;
    
}

.maths:hover, .comp:hover, .eng:hover
{
    width: 450px;
    height: 550px;
    font-size: 40px;
    background-color: #deb992;
    color: #000000;
    font-weight: 900;
}